/* body {
    background-image: url('/DL/full.png');
    background-size: cover;
}
h1{
    position:relative;
    left:580px;
    top: -380px ;
}

button { 
    background-color: white;  color: black;  border: 2px solid #DC143C;}
.content #ima{
        position:relative;
        left:400px;
        top: -400px ;
        text-decoration: none;
    }
    .ncontent #ima{
        position:relative;
        left:300px;
        top: -350px ;
        text-decoration: none;
    }
.custom-logo{
    position: relative;
    left: 80px;
    top: 60px; 
  }
.active{
    text-decoration: none
}
#menu {
    position: relative;
    left: 20px;
    top: 30px; 
    font-size:18px;
    list-style-type: none;
    line-height: 50px;

}
#menu li img{
    position: relative;
    left: -30px;
    top: 40px; 
    font-size:18px;
}
#menu li a{
    position: relative;
    left: -30px;
    top: 40px; 
    font-size:14px;
    text-decoration: none
}
.icon-mini{
    position:relative;
    left: 1100px;
    top: -370px; 
}


#format{
    position:relative;
    left: 450px;
    top: -370px; 
    font-size:18px
}
#up{
    position:relative;
    left: 850px;
    top: -550px;     
    font-size:18px
}
#submit{
    position:relative;
    left: 680px;
    top: -500px;     
    font-size: 30px;
} */

*{
    padding: 0;
    margin: 0;
}

body{
    background: #fffefe;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    font-family: sans-serif;
}

.menu-home
  {
    background-color:  #FFE6E6;
    padding: 1px;
    margin-right: 10px;
    text-align: right; 
  }
  
  .menu-home ul
  {
    display: inline-flex;
    list-style-type: none;
    color: black;
  }

  .menu-home ul li
  {
    
    /* display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse; */
    /* width: 40; */
    float:right;
    padding: 5px;
    background-color:  #FFE6E6;
    

  }
  
  .menu-home ul li a
  {
    text-decoration: none;
    color: rgb(52, 49, 49);
  }

  .menu-home ul a {
    text-decoration: none;
    color: rgb(52, 49, 49);
  }



  .active, .menu-home ul li:hover
  {
    background: #FBA1A1 -20px -20px;
    border-radius: 3px;
  }

  .menu-home .fa
  {
    margin: 5px;
    padding: 2px;
  }
